<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KinoLab - Администрирование</title>
        <link rel="icon" type="image/x-icon" href="/img/logo/logo.ico" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script defer src="/js/provider.js"></script>
        <script defer src="/js/load_general.js"></script>
        <script defer src="/js/load_all.js"></script>
    </head>
    <body>
        
        {{ template "header.html" }}

        <main class="content">


            <section class="tables__wrapper">
                <div class="tables__title"><h2>Таблицы</h2></div>
                <ul class="tables">

                    {{ range .Tables }}
                    <li class="table">
                        <a href="/table/{{.}}">{{.}}</a>
                    </li>
                    {{ end }}

                </ul>
            </section>


            <section class="objects">
                <div class="objects__list">
                    <ul class="objects__items">

                        {{ range .Objects }}
                            <li class="objects__item" >
                                <a href="/edit/{{ .Table }}?id={{ .ID }}" class="object"><p>{{ .Title }}</p></a>
                            </li>
                        {{ end }}
                        
                    </ul>
                </div>
                <div class="object__pages">
                    <div class="object__pages-items">
                        <!-- <button class="object__page active">1</button>
                        <div class="object__page">2</div>
                        <button class="object__page ">3</button>
                        <button class="object__page">4</button>
                        <p class="object__ellipsis">...</p>
                        <button class="object__page">110</button> -->
                    </div>
                    <div class="object__pages-info">
                        <a href="#" class="link objects__show">Показать все</a>
                    </div>
                </div>
                <div class="objects__remote">
                    <a id="add" class="btn">Добавить запись</a>
                </div>
            </section>


            <script>
                var pageCount = "{{.Pages}}"
            </script>

            
        </main>
    </body>
</html>

<!-- 
Выбрать все
сделать страницы внизу
 -->
